@model CourseGrades

<div class="row">
    <div class="col well">

        <form method="post">

            <input type="hidden" asp-for="@Model.categoryID" value="@Model.categoryID" />

            <h3>Add New Grade:</h3>
            <div class="form-group">
                <label for="txtCourse">Category:</label>
                <div class="form-control" style="max-width:250px;color:#BBBBBB">@Model.categoryName</div>
            </div>
            <div class="form-group">
                <label for="txtCourse">Course:</label>
                <input id="txtCourse" name="courseName" type="text" class="form-control" maxlength="100" />
            </div>
            <div class="form-group">
                <label for="txtDescription">Description:</label>
                <textarea id="txtDescription" name="courseDescription" class="form-control" rows="5" columns="50" maxlength="500"></textarea>
            </div>
            <div class="form-group">
                <label for="txtGrade">Grade (%):</label>
                <input id="txtGrade" name="grade" type="text" class="form-control" columns="3" maxlength="3" />
            </div>
            <div class="form-group">
                <label for="txtComments">Comment:</label>
                <textarea id="txtComments" name="comments" class="form-control" rows="5" columns="50" maxlength="500"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" asp-controller="Grades" asp-action="AddSubmit">Add Grade</button>
                <button type="submit" class="btn btn-success" asp-controller="Grades" asp-action="SelectCategory">Cancel</button>
            </div>

        </form>
    </div>
</div>